@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/metropolis/Metropolis-Light.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/metropolis/Metropolis-Light.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/metropolis/Metropolis-Regular.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/metropolis/Metropolis-Regular.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/metropolis/Metropolis-Medium.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/metropolis/Metropolis-Medium.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/metropolis/Metropolis-SemiBold.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/metropolis/Metropolis-SemiBold.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/metropolis/Metropolis-Bold.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/metropolis/Metropolis-Bold.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/metropolis/Metropolis-ExtraBold.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/metropolis/Metropolis-ExtraBold.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Metropolis";
	src: url("../assets/fonts/metropolis/Metropolis-Black.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/metropolis/Metropolis-Black.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
}
/* font family souvenir */
@font-face {
	font-family: "Souvenir";
	src: url("../assets/fonts/souvenir/Souvenir-Medium.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/souvenir/Souvenir-Medium.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Souvenir";
	src: url("../assets/fonts/souvenir/demi.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/souvenir/demi.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
}
/* font family AvenirNext */
@font-face {
	font-family: "AvenirNext";
	src: url("../assets/fonts/avenirnext/AvenirNext-DemiBold.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/avenirnext/AvenirNext-DemiBold.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
}
/* font family AvenirNext */
@font-face {
	font-family: "AvenirNext";
	src: url("../assets/fonts/avenirnext/AvenirNext-DemiBold.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/avenirnext/AvenirNext-DemiBold.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
}
/* font family Gidole */
@font-face {
	font-family: "GidoleRegular";
	src: url("../assets/fonts/GidoleFont/Gidole-Regular.woff") format("woff"),
		/* Modern Browsers */ url("../assets/fonts/GidoleFont/Gidole-Regular.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
}

body {
	min-height: 100vh;
	font-family: "Metropolis", sans-serif;
	position: relative;
}

.page {
	min-height: 100vh;
	background: #14576f;
	color: white;
}

.container {
	margin-top: 3rem;
	margin-bottom: 8rem;
}

h1,
h2,
h3,
h4 {
	font-family: "GidoleRegular", sans-serif;
}

body a { /* increase the specificity */
	color: #B9794D;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

/* media queries */
@media (min-width: 1200px) {
}
@media (max-width: 997px) {
}