<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Catan Community Leaderboard Site</title>
</head>
<body>
<noscript>
    <strong>We're sorry but vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
<script>
    window.location = 'https://catancommunity.org/'
</script>
<link rel="stylesheet" href="https://unpkg.com/katex@0.12.0/dist/katex.min.css">
</html>
