<template>
  <div class="page">
    <div class="container">
      <div class="home">
        <div>
          <h1>Hello and welcome here is our story...</h1>
          <p>
            We hosted our first tournament on 26th Of September 2020. We have since hosted either a free or paid tournament weekly. Because of this consistency we have become the biggest Online Catan Tournament organisation on Discord with well over 3000 Members!
          </p>
          <p>
            If you have any questions don't hesitate to contact us!
          </p>
          <br>
          <h2>Join the Discord to participate!</h2>
          <p>
            <a href="https://discord.gg/5ykyeYTEDH"><img
              src="../assets/icons/discord-logo.svg"
              width="80"
              height="80"
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>
