<template>
  <div class="page">
    <div class="container">
      <div class="md-container">
        <vue3-markdown-it :source="getReadme()" />
      </div>
    </div>
  </div>
</template>

<script>
  // import plane from '../assets/icons/plane.svg'
  // import shield from '../assets/icons/shield.svg'

  export default {
    name: "BotDocs",
    methods: {
      getReadme() {
        return README

        // .replaceAll(
        //     "✈️", "![Plane]("+plane+")"
        // ).replaceAll(
        //     '🛡️', "![Shield]("+shield+")"
        // ).replaceAll(
        //     '###`', '### `'
        // );
      }
    },
  }
</script>

<style scoped>
  @import "../assets/md-style.css";
</style>