<template>
  <div class="page">
    <div class="container">
      <h1>
        Contact
      </h1>
      <p>
        To contact us please send us an <a href="mailto:host@catancommunity.com">email</a>, alternatively jump into the Discord and hit us up there.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact'
}
</script>
