<template>
  <div class="page">
    <div class="sheet-container">
      <iframe 
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vScI3luYVSUkQ5y7vMvcrc6X5-lk-8_X3zUl3I7vSfL6pKzzIvmPUBhPGtosGt8CVIP7Kv2S2ATBRGH/pubhtml?widget=true&amp;headers=false"
        frameborder="0" 
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CurrentTournament'
}
</script>

<style scoped>
  .page {
    max-height: 100vh;
  }
  .sheet-container {
    margin-top: 1rem;
    text-align: center;
  }

  iframe {
    height: 85vh;
    width: 95vw;
  }

  @media (max-width: 997px) {
    iframe {
      height: 82vh;
      width: 95vw;
    }
  }
</style>