<template>
  <div class="main-banner">
    <div class="content">
      <img
        class="logo mb-4"
        src="../assets/icons/logo-no-bg.png"
      >
      <h1>Catan Community</h1>
      <p>
        <b>Welcome!</b> If you'd like to play Catan in a fun and friendly community, then join the Discord!
      </p>
      <div class="social-content">
        <div class="social-panel">
          <h4>
            Next tournament
          </h4>
          <router-link
            to="/open-tournament-registration"
          >
            <img
              src="../assets/Latest_tournament_logo.png"
              width="300"
              height="400"
            >
          </router-link>
        </div>
        <div class="social-panel">
          <h4>
            Get involved
          </h4>
          <iframe src="https://discord.com/widget?id=894372075622526986&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style scoped>
  .main-banner {
    align-items: center; 
    background: #14576f;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
    min-height: 100vh;
    text-align: center;
  }
  .social-content {
    display: inline-flex;
  }
  .social-panel {
    padding-top: .3rem;
    border-radius: 6px;
    margin: 2rem;
  }
  .logo {
    width: 200px;
    height: 200px;
  }
  h1 {
    font-size: 70px;
  }

  p {
    font-size: 25px;
    font-weight: 200;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
  }

  .btn {
    background-color: #17647f;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

  .btn:hover {
    background-color: #114a5e;
  }

  img {
    border-radius: 5px;
  }
  /* media queries */
  @media (min-width: 1200px) {
  }
  @media (max-width: 997px) { 
    .logo {
      width: 150px;
      height: 150px;
    }
    p {
      width: 90%;
    }

    .social-content {
      display: block;
    }
  }
</style>
