<template>
  <div class="page">
    <div class="container mb-4">
      <h1>Catan Community Leaderboard</h1>
      <div class="subtitle">
        Now 2% faster loading times <a href="#1">(*)</a>
        <a href="#2">(**)</a> <a href="#3">(***)</a>
        <a href="#4">(****)</a>
      </div>
    </div>
    <div
      v-if="players"
      class="table-container"
    >
      <table>
        <thead>
          <tr>
            <th class="s" />
            <th class="l">
              Name
            </th>
            <th
              class="r s"
              title="Total League Points"
            >
              LP
              <button
                class="btn sort-btn"
                @click="sort((i)=>-i['lp'])"
              >
                <img :src="sortImage">
              </button>
            </th>
            <th
              class="r m"
              title="Match Maker games"
            >
              MM games
              <button
                class="btn sort-btn"
                @click="sort((i)=>-i.matches)"
              >
                <img :src="sortImage">
              </button>
            </th>
            <th
              class="r m br-1"
              title="How often you win relative to the average player"
            >
              Relative wins
              <button
                class="btn sort-btn"
                @click="sort((i)=>-i.winrate * (i.matches > 10 ? 1: 0))"
              >
                <img :src="sortImage">
              </button>
            </th>
            <td class="spacer" />
            <!-- Tournaments -->
            <th
              v-for="tournament in tournaments"
              :key="tournament.name"
              class="r m"
            >
              {{ tournament.name }}
              <button
                class="btn sort-btn"
                @click="sort((t)=>-parsePeriodString(tournament.path)(t.tournaments)||0)"
              >
                <img :src="sortImage">
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(row, index) in players"
            :key="row.discord_username"
          >
            <td class="s text-center">
              <span
                v-if="index<=3"
                class="top-positions"
              >
                <b>
                  {{ index + 1 }}
                </b>
              </span>
              <span
                v-else
              >
                {{ index + 1 }}
              </span>
            </td>
            <td class="l">
              {{ row.display_name }}
            </td>
            <td class="r s">
              {{ row.lp.toLocaleString() }}
            </td>
            <td class="r m">
              {{ row.matches.toLocaleString() }}
            </td>
            <td
              v-if="row.winrate"
              class="r m br-1"
            >
              {{ row.winrate.toFixed(3) }}×
            </td>
            <td
              v-else
              class="r m br-1"
            >
              NA
            </td>

            <td class="spacer" />
            <td
              v-for="tournament in tournaments"
              :key="tournament.name"
              class="r m"
            >
              {{ (parsePeriodString(tournament.path)(row.tournaments))?.toLocaleString() || "NA" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      v-else
      class="container"
    >
      <p>
        The loading is slightly faster now by doing all pre processing once every so many users. If you are
        reading this, congratulations! You can do the processing for all users in the next hour.
      </p>
      <p>
        If you read this far though, it's taking a long time. Perhaps something went wrong. Contact me if the
        problem persists
      </p>
      <br>
      <clip-loader
        :loading="!players"
      />
    </div>
    <div class="container">
      <div class="small" />

      <div
        id="1"
        class="small"
      >
        * If the cache is full
      </div>
      <div
        id="2"
        class="small"
      >
        ** If the serverless function is warm
      </div>
      <div
        id="3"
        class="small"
      >
        *** Does not apply if the server is in a bad mood
      </div>
      <div
        id="4"
        class="small"
      >
        **** Only apply on dates such that the day is a prime number so that n-3 is a multiple of 7
      </div>
    </div>
  </div>
</template>

<script>

import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
import sortImage from "../assets/icons/sort.svg"

export default {
  name: 'Leaderboard',
  components: {
    ClipLoader
  },
  data: function () {
    return {
      sortImage: sortImage,
      tournaments: null,
      players: null
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    parsePeriodString(str) {
      const parts = str.split('.');
      const subparse = (t, i) => {
        while (i < parts.length) {
          if (t === undefined || !t.hasOwnProperty(parts[i])) {
            return undefined;
          }
          t = t[parts[i]];
          i++;
        }
        return t;
      }
      return (t) => subparse(t, 0);
    },
    async fetchData() {
      const result = await fetch('/api/leaderboard', {
        'credentials': 'same-origin',
        'headers': {
          'accept': 'application/json'
        }
      });
      const data = await result.json()

      this.players = (data).users;
      this.players.forEach(
          (i)=>i.winrate=i.normalized_wins/i.matches
      )
      this.tournaments = data.tournaments;
    },
    sort(key) {
      this.players.sort((i, j) => (key(i) - key(j)));
    }
  }
}
</script>

<style scoped>
.table-container {
  margin: auto;
  max-width: 98vw;
  width: fit-content;
  overflow-x: auto;
}

table {
  table-layout: fixed;
  width: max-content;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  overflow-x: scroll;
}

thead th {
  position: sticky;
  top: 0;
}

thead tr > * {
  color: white;
  background-color: #008198;
  text-align: left;
  height: 2rem;
}

th,
td {
  padding: 0.2rem;
  vertical-align: middle;
}

tbody tr td {
  color: black;
  border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even) td {
  background-color: #eee;
}

tbody tr:nth-of-type(odd) td {
  background-color: white;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.r {
  text-align: right;
}

.m {
  width: 10rem;
}

.s {
  width: 5rem;
}

.l {
  width: 15rem;
}

body table tr .spacer {
  background-color: transparent;
  border: none;
}

.spacer {
  width: 1rem;
}

td img, th img {
  width: 1.2rem;
  vertical-align: middle;
}

.subtitle {
  font-size: 1.1rem;
}

.small {
  font-size: 0.75rem;
  margin-top: 20rem;
}

.br-1 {
  padding-right: 0.5rem;
}

.table-container {
  width: fit-content;
  overflow-x: auto;
  max-width: 100vw;
  margin: auto;
}

.top-positions {
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

tr:nth-child(1) td:nth-child(1) {
  color: gold;
  -webkit-text-fill-color: gold; /* Will override color (regardless of order) */
}

tr:nth-child(2) td:nth-child(1) {
  color: silver;
  -webkit-text-fill-color: silver; /* Will override color (regardless of order) */
}

tr:nth-child(3) td:nth-child(1) {
  color: #cc6633;
  -webkit-text-fill-color: #cc6633; /* Will override color (regardless of order) */
}

.sort-btn {
  padding: 0 .3rem;
}

.sort-btn:focus {
  border: thin solid white;
  box-shadow: none;
}

@media (max-width: 997px) {
  .table-container {
    margin: auto;
    max-width: 98vw;
  }
}

</style>
<style>
* {
  box-sizing: border-box;
}
</style>
