<template>
  <div class="page">
    <div class="container">
      <div class="md-container">
        <vue3-markdown-it
          table-class="md-table"
          :breaks="false"
          :source="getHelpText()"
        />
      </div>
    </div>
  </div>
</template>

<script>
import module from '!!raw-loader!../../README.md';

export default {
  name: 'LeaguePoints',
  methods: {
    getHelpText() {
      return module;
    }
  },
}
</script>

<style scoped>
  @import "../assets/md-style.css";
</style>
