<template>
  <div class="page">
    <div class="sheet-container">
      <iframe 
        src="https://docs.google.com/forms/d/e/1FAIpQLSc_pjkPrdXvSXCXhnPqTOboJmiUHgfepnmdqTW7b5RAkmi-Zg/viewform?embedded=true"
        frameborder="0" 
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'OpenTournamentRegistration'
}
</script>

<style scoped>
  .page {
    max-height: 100vh;
  }
  .tournament-closed {
    background-color: grey;
    height: 100vh;
    opacity: 70%;
    position: absolute;
    width: 100vw;
  }
  .sheet-container {
    margin-top: 1rem;
    text-align: center;
  }

  iframe {
    height: 85vh;
    width: 95vw;
  }

  @media (max-width: 997px) {
    iframe {
      height: 82vh;
      width: 95vw;
    }
  }
</style>