<template>
  <footer>
    <div class="footer-links-container">
      <ul>
        <li>
          <router-link
            to="/privacy-policy"
            class="footer-links"
            @click="show=false"
          >
            Privacy Policy
          </router-link>
        </li>
        <li>
          <router-link
            to="/contact"
            class="footer-links"
            @click="show=false"
          >
            Contact
          </router-link>
        </li>
      </ul>
      <div class="socials">
        <a
          href="https://www.facebook.com/OnlineCatanCommunity"
          class="footer-links"
        >
          <i class="fab fa-facebook fa-lg pr-2" />
        </a>
        <a
          href="https://www.instagram.com/onlinecatancommunity/"
          class="footer-links"
        >
          <i class="fab fa-instagram fa-lg" />
        </a>
      </div>
    </div>
    <hr class="">  
    <div id="mc_embed_signup">
      <form
        id="mc-embedded-subscribe-form"
        action="https://live.us7.list-manage.com/subscribe/post?u=3969dcdd786a3a483b9741cea&amp;id=3bee7e5868"
        method="post"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div>
          <label
            for="mce-EMAIL"
            class="pr-2"
          >Subscribe to get notified for each tournament!</label>
          <input
            id="mce-EMAIL"
            type="email"
            value=""
            name="EMAIL"
            class="email pr-5"
            placeholder="email address"
            required
          >
          <div
            style="position: absolute; left: -5000px;"
            aria-hidden="true"
          >
            <input
              type="text"
              name="b_3969dcdd786a3a483b9741cea_3bee7e5868"
              tabindex="-1"
              value=""
            >
          </div>
          <input
            id="mc-embedded-subscribe"
            type="submit"
            value="Subscribe"
            name="subscribe"
            class="button subscribe-input"
          >
        </div>
      </form>
    </div>
    <hr class="">  
    <div>
      © Catan Community 2021
    </div>
  </footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style scoped>
  footer {
    background-color: #B9794D;
    bottom: 0;
    color: white;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
  }

  .footer-links-container {
    display: flex; 
    justify-content: space-between;
  }

  .footer-links {
    color: white;
    text-decoration: none;
  }

  hr {
    margin: .6rem 0;
    background-color: white;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 1rem;
  }

  li {
    margin-right: 1.5rem;
  }

  #mc_embed_signup { 
    display: inline-flex;
  }

  @media (max-width: 997px) {
    footer {
      display: block;
    }
    .footer-links-container {
      display: inline; 
    }
    .footer-links {
      display: block;
    }
    .socials {
      display: flex;
      padding-left: 1rem;
    }
  }
</style>
