<template>
  <body class="d-flex flex-column">
    <navbar />
    <slot />
    <layout-footer />
  </body>
</template>

<script>
  import Navbar from '@/components/Navbar'
  import Footer from '@/components/Footer'
  export default {
    name: "Layout",
    components: {
      'navbar': Navbar,
      'layout-footer': Footer,
    }
  }
</script>
