<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <router-link
          to="/"
        >
          <img
            class="nav-img"
            src="../assets/icons/logo-no-bg.png"
          >
        </router-link>
        <li>
          <router-link
            class="nav-menu-item"
            to="/about"
          >
            About
          </router-link>
        </li>
        <!-- League dropdown -->
        <li class="nav-menu-item">
          <div class="dropdown">
            <button
              class="anchor"
              @click="toggleShowDropdown('league')"
            >
              League
              <i
                v-if="!showLeagueMenu"
                class="fas fa-angle-down pl-2"
              />   
              <i
                v-if="showLeagueMenu"
                class="fas fa-angle-up pl-2"
              />
            </button>
            <div
              v-if="showLeagueMenu"
              class="dropdown-menu show"
              aria-labelledby="dropdownMenuButton"
            >
              <template
                v-for="link in leagueLinks"
                :key="link.name"
              >
                <router-link
                  :to="link.url"
                >
                  <a
                    class="dropdown-item"
                    href="#"
                    @click="toggleShowDropdown('league')"
                  >
                    {{ link.name }}
                  </a>
                </router-link>
              </template>
            </div>
          </div>
        </li>
        <!-- Open Tournaments dropdown -->
        <li class="nav-menu-item">
          <div class="dropdown">
            <button
              class="anchor"
              @click="toggleShowDropdown('open-tournaments')"
            >
              Open Tournaments
              <i
                v-if="!showOpenTournamentsMenu"
                class="fas fa-angle-down pl-2"
              />   
              <i
                v-if="showOpenTournamentsMenu"
                class="fas fa-angle-up pl-2"
              />
            </button>
            <div
              v-if="showOpenTournamentsMenu"
              class="dropdown-menu show"
              aria-labelledby="dropdownMenuButton"
            >
              <template
                v-for="link in openTournamentLinks"
                :key="link.name"
              >
                <router-link
                  :to="link.url"
                >
                  <a
                    class="dropdown-item"
                    href="#"
                    @click="toggleShowDropdown('open-tournaments')"
                  >
                    {{ link.name }}
                  </a>
                </router-link>
              </template>
            </div>
          </div>
        </li>
        <!-- Cash Tournaments dropdown -->
        <li class="nav-menu-item">
          <div class="dropdown">
            <button
              class="anchor"
              @click="toggleShowDropdown('cash-tournaments')"
            >
              Cash Tournaments
              <i
                v-if="!showCashTournamentsMenu"
                class="fas fa-angle-down pl-2"
              />   
              <i
                v-if="showCashTournamentsMenu"
                class="fas fa-angle-up pl-2"
              />
            </button>
            <div
              v-if="showCashTournamentsMenu"
              class="dropdown-menu show"
              aria-labelledby="dropdownMenuButton"
            >
              <template
                v-for="link in cashTournamentLinks"
                :key="link.name"
              >
                <router-link
                  :to="link.url"
                >
                  <a
                    class="dropdown-item"
                    href="#"
                    @click="toggleShowDropdown('cash-tournaments')"
                  >
                    {{ link.name }}
                  </a>
                </router-link>
              </template>
            </div>
          </div>
        </li>
      </ul>
      <!-- Add back in when logging in is implemented -->
      <!-- <router-link
        class="nav-menu-item"
        to="/sign-in"
      >
        Sign in
      </router-link> -->
    </div>
  </nav>
  <nav-dropdown />
</template>

<script>
  import NavDropdown from './NavDropdown.vue'
  export default {
    name: "Navbar",
    components: {
      "nav-dropdown": NavDropdown
    },
    data: function() {
      return {
        showLeagueMenu: false,
        showOpenTournamentsMenu: false,
        showCashTournamentsMenu: false,
        leagueLinks: [
          { name: 'Current Season Leaderboard', url: '/leaderboard' },
          { name: 'League Points', url: '/league-points' },
          { name: 'Bot Docs', url: '/bot-docs' },
        ],
        openTournamentLinks: [
          { name: 'Register', url: '/open-tournament-registration' },
        ],
        cashTournamentLinks: [
          { name: 'Register', url: '/cash-tournament-registration' },
        ]
      }
    },
    methods: {
      toggleShowDropdown: function(dropdownToToggle) {
        switch (dropdownToToggle) {
          case "league":
            this.showLeagueMenu = !this.showLeagueMenu;
            break;
          case "open-tournaments":
            this.showOpenTournamentsMenu = !this.showOpenTournamentsMenu;
            break;
          case "cash-tournaments":
            this.showCashTournamentsMenu = !this.showCashTournamentsMenu;
            break;
          default:
            break;
        }
      }
    }
  }
</script>

<style scoped>
  .navbar {
    background-color: #B9794D;
    font-family: "Metropolis", sans-serif;
  }
  .nav li {
    padding: 0 20px;
  }
  .nav li:last-child {
    border: none;
  }
  .nav-menu-item {
    color: white;
    text-decoration: none;
  }
  .nav-img {
    width: 25px;
    height: 25px;
  }
  .anchor {
    background: none;
    border: none;
    color: white;
    padding: 0; 
    text-decoration: none;
  }

  /* media queries */
  @media (min-width: 1200px) {
  }
  @media (max-width: 997px) {
    .nav-img {
      width: 40px;
      height: 40px;
    }
    .nav-menu-item {
      display: none;
    }
  }
</style>
