<template>
  <a
    class="dropdown-link"
    href="#"
  >
    <button
      v-if="show"
      key="on"
      class="header-button"
      :style="btnStyles"
      @click="show = false"
    >
      <i
        class="fa fa-close fa-lg"
      />
    </button>
    <button
      v-else
      key="off"
      class="header-button"
      :style="btnStyles"
      @click="show=true"
    >
      <i
        class="fa fa-bars fa-2x"
      />
    </button>
  </a>
  <transition name="dropdown">
    <div
      v-if="show"
      class="dropdown--menu"
    > 
      <ul class="dropdown-menu-nav">
        <li class="dropdown-menu-item">
          <router-link
            v-if="$route.name !== 'home'"
            class="dropdown-menu-link"
            to="/"
            @click="show=false"
          >
            Home
          </router-link>
        </li>
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/about"
            @click="show=false"
          >
            About
          </router-link>
        </li>
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/contact"
            @click="show=false"
          >
            Contact
          </router-link>
        </li>
        <hr>
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/leaderboard"
            @click="show=false"
          >
            Current Season Leaderboard
          </router-link>
        </li>
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/bot-docs"
            @click="show=false"
          >
            Bot Docs
          </router-link>
        </li>      
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/league-points"
            @click="show=false"
          >
            League Points
          </router-link>
        </li>
        <hr>
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/open-tournament-registration"
            @click="show=false"
          >
            Open Tournament Registration
          </router-link>
        </li> 
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/cash-tournament-registration"
            @click="show=false"
          >
            Cash Tournament Registration
          </router-link>
        </li> 
        <hr> 
        <li class="dropdown-menu-item">
          <router-link
            class="dropdown-menu-link"
            to="/privacy-policy"
            @click="show=false"
          >
            Privacy Policy
          </router-link>
        </li>
      </ul>
    </div>
  </transition>
</template>

<script>
  export default {
    name: "NavDropdown",
    data: function() {
      return {
        show: false
      };
    },
    computed: {
      btnStyles() {
        if (this.show) {
          return {
            "color": "grey"
          };
        } 
        return {
          "color": "white"
        };
      }
    }
  }
</script>


<style scoped>
  .header-icon {
    width: 1.65rem;
    height: 1.65rem;
  }
  .header-button  {
    background-color: transparent;
    border: 1px solid transparent;
    padding: .5rem;
    position: absolute;
    margin: 5px;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .header-button :focus {
    outline: 0;
  }
  .dropdown--menu {
    background-color: white;
    position:absolute;
    height: 100%;
    width: 70%;
    z-index: 10;
    right: 0;
  }
  .dropdown-link {
    display: none;
  }
  .dropdown-menu-nav {
    list-style-type: none;
    padding: 0;
  }
  .dropdown-menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.8rem 0 0.8rem 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0 50px 50px 0;
  }
  .dropdown-menu-link:hover {
    color: #14576f;
    background-color: rgba(79, 179, 192, 0.1);
  }
  .dropdown-menu-svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .dropdown-menu-text {
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  /* dropdown animation */
  .dropdown-enter-active,
  .dropdown-leave-active {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
  .dropdown-enter,
  .dropdown-leave-to {
    transform: translateX(100%);
  }
  /* media queries */
  @media (max-width: 997px) {
    .dropdown-link {
      display: block;
    }
  }
</style>