.icon {
    width: 1.2rem;
    vertical-align: middle;
}

h1 {
    font-weight: 700;
    padding-bottom: 1rem;
}

h3 {
    background-color: #cce0ff;
    margin-left: 2rem;
    height: 2.2rem;
    font-size: 1rem;
    max-width: fit-content;
    padding: .5rem;
}

.md-container p, .md-container table, pre, .md-container ul, .md-container li {
    margin-left: 1.5rem;
} 

pre {
    background-color: grey;
    border: thin solid white;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem;
}

table, th, td {
    border: 1px solid white;
    margin-bottom: 1rem;
    padding: .5rem; 
  }


  /* media queries */
  @media (min-width: 1200px) {

  }
  @media (max-width: 997px) {
    h3 {
        margin-left: 0;
    }
    .md-container p, .md-container table, pre, .md-container ul, .md-container li {
        margin-left: 0;
    } 
  }