<template>
  <div id="app">
    <layout>
      <router-view />
    </layout>
  </div>
</template>

<script>
  import Layout from '@/components/Layout'
  export default {
    components: {
      'layout': Layout
    }
  }
</script>

<style>
  @import "./styles/global.css";
</style>